body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

* {
    box-sizing: border-box;
}

#result {
    width: 220px;
    height: 50px;
    margin: 5px;
    border-radius: 20px;
    background-color: #363636;
    color: white;
    text-align: right;
}

#operator {
    border-radius: 155px;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #363636;
    color: white;
    text-align: center;
}

#del {
    width: 60px;
}

.background {
    margin: 33px;
    border: none;
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 10px 10px 15px 3px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 33px;
    font-size: 1.5rem;
    background: none;
    background-color: #113859;
    color: #F2F2F0;
    cursor: pointer;
    margin: 5px;
}

#calc-history-box {
    width: 200px !important;
    height: 220px !important;
    resize: none;
    overflow: hidden;
}

#calc-history {
    float: left;
    width: 200px;
    height: 310px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 6px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #eeeaea inset;
}

#span_hist {
    display: flex;
    justify-content: center;
}

.background #clear {
    background-color: rgb(165, 40, 40);
}

.background #plus,
#multiply,
#divide,
#minus,
#del,
#sqr,
#exp,
#lg {
    background-color: #68748C;
}

textarea {
    border: none;
    resize: none;
}

#submeter {
    background-color: burlywood;
    display: flex;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    font-size: 0.8rem;
}

.apagarH {
    background: url(/img/delete.png);
    background-size: 30px;
    float: right;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    border: none;
}